{% extends 'exercises/base.html' %}
<!-- -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">About Workouts App</h1>
                <p>Welcome to the Workouts App, your go-to platform for discovering and sharing exercise routines!</p>
                <p>Our mission is to provide a reliable and collaborative fitness resource, empowering users to create, explore, and benefit from a wide range of exercises tailored to their fitness goals.</p>
                <p>Each exercise entry is carefully moderated by our dedicated team to ensure content quality and accuracy. Only approved exercises make it to the home page, offering users a curated selection of verified workout routines.</p>
                <p>Whether you're a fitness enthusiast or a beginner, the Workouts App welcomes you to join our community and contribute to a healthier and active lifestyle.</p>
            </div>
        </div>
    </div>
{% endblock content %}
